<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJY0wXdh3-fgyMpfS6bK5ivD5ldOB4At8</string>
	<key>GCM_SENDER_ID</key>
	<string>623714676277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Physicalmatchapp</string>
	<key>PROJECT_ID</key>
	<string>physicalmatch-b8cbb</string>
	<key>STORAGE_BUCKET</key>
	<string>physicalmatch-b8cbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623714676277:ios:b77b6845d1b29ac0344b7c</string>
</dict>
</plist>